*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;;
    display: flex;
    justify-content: center;
   align-items: center;
   box-sizing: border-box;
   font-family:poppins,sans-serif;
   background-color: black;
}
.container{
    height: 50vh;
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
border-radius: 5px;

}
.wrapper{
    background: linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    border-radius: 6%;
    box-shadow: 10px 10px 20px 8px  rgb(224, 238, 144);
z-index:999;
}

.hours, .minutes, .seconds {
    height: 20vh;
    width: 20vh;
    font-size: 30px;
    font-weight: 400;
    ;
    background-color: transparent;
     ;
    border-radius: 5px;
    padding: 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dot{
    color:rgb(14, 12, 12);
    font-weight: bolder;
    font-size: 45px;
}
